<div class="container">
  <div class="head">
    <div class="header">
      <div class="logo-menu">
        <div class="logo">
          <img src="../assets/logo.svg" alt="logo" class="logo-img" />
        </div>
        <ng-container *ngIf="!mobileView">
          <div class="menu">
            <div mat-button [matMenuTriggerFor]="productMenu" class="submenu">
              <span class="option pointer" (click)="onClickProduct()"
                >Product</span
              ><img
                class="pointer"
                [ngClass]="{ rotated: product }"
                (click)="onClickProduct()"
                src="../assets/icon-arrow-light.svg"
                alt="icon-arrow-light"
              />
            </div>
            <mat-menu #productMenu="matMenu" (close)="onClickProduct()">
              <div class="custom-menu">
                <span class="cutom-option">product 1</span>
                <span class="cutom-option">product 2</span>
                <span class="cutom-option">product 3</span>
              </div>
            </mat-menu>
            <div mat-button [matMenuTriggerFor]="companyMenu" class="submenu">
              <span class="option pointer" (click)="onClickCompany()"
                >Company</span
              ><img
                class="pointer"
                [ngClass]="{ rotated: company }"
                (click)="onClickCompany()"
                src="../assets/icon-arrow-light.svg"
                alt="icon-arrow-light"
              />
            </div>
            <mat-menu #companyMenu="matMenu" (close)="onClickCompany()">
              <div class="custom-menu">
                <span class="cutom-option">company 1</span>
                <span class="cutom-option">company 2</span>
                <span class="cutom-option">company 3</span>
              </div>
            </mat-menu>
            <div mat-button [matMenuTriggerFor]="connectMenu" class="submenu">
              <span (click)="onClickConnect()" class="option pointer"
                >Connect</span
              >
              <img
                class="pointer"
                src="../assets/icon-arrow-light.svg"
                [ngClass]="{ rotated: connect }"
                (click)="onClickConnect()"
                alt="icon-arrow-light"
              />
            </div>
            <mat-menu #connectMenu="matMenu" (close)="onClickConnect()">
              <div class="custom-menu">
                <span class="cutom-option">Contact</span>
                <span class="cutom-option">Newsletter</span>
                <span class="cutom-option">LinkedIn</span>
              </div>
            </mat-menu>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!mobileView">
        <div class="login-signup">
          <button class="login">Login</button>
          <button class="signup">Sign Up</button>
        </div>
      </ng-container>
      <ng-container *ngIf="mobileView">
        <div mat-button class="menu-btn">
          <ng-container *ngIf="!menu">
            <img
              src="../assets/icon-hamburger.svg"
              alt="icon-hamburger"
              (click)="onClickMenu()"
            />
          </ng-container>
          <ng-container *ngIf="menu">
            <img
              src="../assets/icon-close.svg"
              alt="icon-close"
              (click)="onClickMenu()"
            />
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="head-content">
      <div class="heading">A modern publishing platform</div>
      <div class="motto">Grow your audience and build your online brand</div>
      <div class="free-learn-container">
        <button class="start-for-free">Start for Free</button>
        <button class="learn-more">Learn More</button>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="heading-main">Designed for the future</div>
    <ng-container *ngIf="mobileView">
      <img
        class="mobile-editor"
        src="../assets/illustration-editor-mobile.svg"
        alt=""
      />
    </ng-container>
    <div class="designed-content">
      <div class="mini-heading">Introducing an extensible editor</div>
      <div class="mini-content">
        Blogr features an exceedingly intuitive interface which lets you focus
        on one thing: creating content. The editor supports management of
        multiple blogs and allows easy manipulation of embeds such as images,
        videos, and Markdown. Extensibility with plugins and themes provide easy
        ways to add functionality or change the looks of a blog.
      </div>
    </div>
    <div class="designed-content">
      <div class="mini-heading">Robust content management</div>
      <div class="mini-content">
        Flexible content management enables users to easily move through posts.
        Increase the usability of your blog by adding customized categories,
        sections, format, or flow. With this functionality, you're in full
        control.
      </div>
    </div>
  </div>
  <div class="mobile-editorial">
    <div class="mob-img-container">
      <img src="../assets/illustration-phones.svg" alt="" />
    </div>
    <div class="editorial">
      <div class="mob-editorial-heading">State of the Art Infrastructure</div>
      <div class="mob-editorial-content">
        With reliability and speed in mind, worldwide data centers provide the
        backbone for ultra-fast connectivity. This ensures your site will load
        instantly, no matter where your readers are, keeping your site
        competitive.
      </div>
    </div>
  </div>
  <div class="laptop-editorial">
    <ng-container *ngIf="mobileView">
      <img
        class="laptop-mobile"
        src="../assets/illustration-laptop-mobile.svg"
        alt="laptop"
      />
    </ng-container>
    <div class="laptop">
      <div class="laptop-content">
        <div class="mini-heading">Free, open, simple</div>
        <div class="mini-content">
          Blogr is a free open source application backed by a large community of
          helpful developers. It supports features such as code syntax
          highlighting, RSS feeds, social media integration, third-party
          commenting tools, and works seamlessly with Google Analytics. The
          architecture is clean and is relatively easy to learn.
        </div>
      </div>
      <div class="laptop-content">
        <div class="mini-heading">Powerlful tooling</div>
        <div class="mini-content">
          Batteries included. We built a simple and straightforward CLI tool
          that makes customization and deployment a breeze, but capable of
          producing even the most complicated sites.
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-logo"><img src="../assets/logo.svg" alt="logo" /></div>
    <div class="footer-data">
      <div class="product">
        <div class="footer-head">Product</div>
        <div class="footer-body">
          <span class="data">Overview</span>
          <span class="data">Pricing</span>
          <span class="data">Marketplace</span>
          <span class="data">Features</span>
          <span class="data">Integrations</span>
        </div>
      </div>
      <div class="company">
        <div class="footer-head">Company</div>
        <div class="footer-body">
          <span class="data">About</span>
          <span class="data">Team</span>
          <span class="data">Blog</span>
          <span class="data">Careers</span>
        </div>
      </div>
      <div class="connect">
        <div class="footer-head">Connect</div>
        <div class="footer-body">
          <span class="data">Contact</span>
          <span class="data">Newsletter</span>
          <span class="data">LinkedIn</span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="mobileView && menu">
  <div class="custom-menu">
    <div class="submenu-container">
      <div class="submenu" (click)="onClickProduct()">
        <span
          class="option pointer"
          [ngStyle]="{ color: product ? 'hsl(207, 13%, 34%)' : '' }"
          >Product</span
        ><img
          class="pointer"
          [ngClass]="{ rotated: product }"
          src="../assets/icon-arrow-dark.svg"
          alt="icon-arrow-light"
        />
      </div>
      <ng-container *ngIf="product">
        <div class="submenu-click">
          <span class="submenu-click-option">Product 1</span>
          <span class="submenu-click-option">Product 2</span>
          <span class="submenu-click-option">Product 3</span>
        </div>
      </ng-container>
      <div class="submenu" (click)="onClickCompany()">
        <span
          class="option pointer"
          [ngStyle]="{ color: company ? 'hsl(207, 13%, 34%)' : '' }"
          >Company</span
        ><img
          class="pointer"
          [ngClass]="{ rotated: company }"
          src="../assets/icon-arrow-dark.svg"
          alt="icon-arrow-light"
        />
      </div>
      <ng-container *ngIf="company">
        <div class="submenu-click">
          <span class="submenu-click-option">Company 1</span>
          <span class="submenu-click-option">Company 2</span>
          <span class="submenu-click-option">Company 3</span>
        </div>
      </ng-container>
      <div class="submenu" (click)="onClickConnect()">
        <span
          class="option pointer"
          [ngStyle]="{ color: connect ? 'hsl(207, 13%, 34%)' : '' }"
          >Connect</span
        ><img
          class="pointer"
          [ngClass]="{ rotated: connect }"
          src="../assets/icon-arrow-dark.svg"
          alt="icon-arrow-light"
        />
      </div>
      <ng-container *ngIf="connect">
        <div class="submenu-click">
          <span class="submenu-click-option">Contact</span>
          <span class="submenu-click-option">Newsletter</span>
          <span class="submenu-click-option">LinkedIn</span>
        </div>
      </ng-container>
    </div>
    <div class="login-signup">
      <button class="login">Login</button>
      <button class="signup">Sign Up</button>
    </div>
  </div>
</ng-container>
